<a href="/"><button>Home</button></a>
<form action="/register" method="POST">
    <p>Nome:</p>
    <input type="text" name="nome">
    <p>Sobrenome:</p>
    <input type="text" name="sobrenome">
    <p>Idade:</p>
    <input type="text" name="idade">
    <p>E-mail:</p>
    <input type="text" name="email">
    <button type="submit">Cadastrar Usuário</button>
</form>
