<a href="/users"><button>Listar Usuários</button></a>
<a href="/novoUser"><button>Inserir Usuário</button></a>
<a href="/novoPost"><button>Inserir Postagem</button></a>

{{#each posts}}
<hr>
<h1>{{titulo}}</h1>
<p>{{conteudo}}</p>
<a href="/deletar/{{id}}"><button>Excluir</button></a>

{{/each}}